body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    position: fixed;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
    margin: 0px;

} 

h1 header {
    float: left;
}

.header-nav {
    float: right;
}

h1 {
    color: azure;
}

main {
    display: flex;
}

.main {
    flex-direction: column;
}

#part-1 {
    display: flex;
}

#part-2 {
    display: flex;
}

.about-me {
    width: 40%;
    float: left;
}

#my-portrait {
    width: 400px;
    height: auto;
    align-content: center;
}

.buttons {
    width: 33%;
    height:auto;
    border: 1px;
}